@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";

.ag-header-cell-label {
  justify-content: center;
}
.ag-header-cell {
  background-color: #8d2a90;
  color: aliceblue;
}
.ag-row:hover {
  background-color: #ac4eaf;
  color: aliceblue;
}
