<form [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <label>Email</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
    />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
  </div>

  <div class="container">
    <button type="submit">Send Email</button>
    <button type="reset" (click)="revert()">Cancel</button>
  </div>
</form>
