button {
  display: inline-block;
  margin: 20px;
  border: none;
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  border: 30px;
  background-color: #8d2a90;
  color: white;
}
input,
select {
  border-radius: 4px;
  border-top: #8d2a90 solid 2px;
  border-left: #8d2a90 solid 2px;
}

.container,
h1,
p {
  position: relative;
  text-align: center;
  margin: 2.5rem;
  display: -ms-flexbox;
  display: flexbox;
}

label {
  position: initial;
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
